.zippy {
    width: 800px;
    border:1px solid #333;    
    margin-left: 100px;
}
.zippy h1{   
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
}
.zippy .body {
    padding: 20px;
}
.expanded {
  background: #f0f0f0;  
}
.pull-right{ 
    float: right;
}


